<div class="main_5">
    	<div class="constr">
        	<div class="constr_in">
				<div class="l w383">
                    <div class="icon_3">
                    </div>
                </div>
                <div class="cell gf">
                	<div class="fix mt50">
                    	<div class="tt_box l fw">
                        	联系我们<br>
                            <span class="f14 lt0">Company News</span>
                        </div>
                        <div class="cell">
                            <div class="rel">
                                <div class="mb12">
                                    <strong>全国统一服务电话：400-858-9977</strong>
                                </div>
                                  <div class="mb5">
                                </div>
                                <div class="mb20">
                                </div>
                                <div class="mb12">
                                    <strong>上海总公司</strong>
                                </div>
                                <div class="mb5">
                                    电话：021-59881019
                                </div>
                                <div class="mb20">
                                    地址：上海市青浦区双联路395弄B栋
                                </div>
                                <div class="mb12">
                                    <strong>深圳分公司</strong>
                                </div>
                                <div class="mb5">
                                    电话：0755-85219799
                                </div>
                                <div class="mb20">
                                    地址：深圳龙岗区五和中路里铺街7号德众工业园6栋
                                </div>
                                <div class="mb12">
                                    <strong>广州分公司</strong>
                                </div>
                                <div class="mb5">
                                    电话：18922275956
                                </div>
                                <div class="mb20">
                                    地址：广州市白云区嘉禾龙路自编138号皮博城一号展馆A01-07档
                                </div>
                                
                            </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="oneSolid bd90"></div>
    <div class="oneSolid bddd"></div>
