@*<div class="banner_box">
    	<dl class="changeBox_a1" id="change_3">
        	<dd class="bn_item" style="background-color:#339499; text-align:center ; height:520px;">
            	<img src="../images/banner/default_04.jpg"/>
            </dd>
            <dd class="bn_item" style="background-color:#14ad7f; text-align:center; height:520px;">
            	<img src="../images/banner/banner1.jpg"/>
            </dd>
            <dd class="bn_item" style="background-color:#cc4235; text-align:center; height:520px;">
            	<img src="../images/banner/banner2.jpg"/>
            </dd>
        </dl>
        <!--<ul class="ul_change_a2">
        	<li><span>1</span></li>
            <li><span>2</span></li>
            <li><span>3</span></li>
        </ul>-->
    </div>
    <div class="oneSolid bdad"></div>
    <div class="oneSolid bdff"></div>*@


<div class="banner_box" id="banner_box">
    	<dl class="changeBox_a1" id="change_3">
        	<dd class="bn_item" style="background:#339499; z-index:3">
            	<a href="javascript:">
	            	<img src="../images/banner/default_04.jpg"/>
                </a>
            </dd>
            <dd class="bn_item" style="background:#14ad7f; z-index:2">
            	<a href="javascript:">
            		<img src="../images/banner/banner1.jpg"/>
                </a>
            </dd>
            <dd class="bn_item" style="background:#cc4235; z-index:2">
            	<a href="javascript:">
            		<img src="../images/banner/banner2.jpg"/>
                </a>
            </dd>
            <dt class="bn_item" style="opacity:0.8;" id="bg_box">
            </dt>
        </dl>
        <ul class="ul_change_a2" id="ul_change_a2" >
        	<li class="on"></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="oneSolid bdad"></div>
    <div class="oneSolid bdff"></div>