<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAPI" closeTimeout="00:01:00"
          openTimeout="00:00:05" receiveTimeout="00:00:05" sendTimeout="00:00:10" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://bizlog.yunpost.cn/API.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IAPI" contract="BizLogWcf.IAPI"
        name="BasicHttpBinding_IAPI" />
    </client>
  </system.serviceModel>
</configuration>