@{
    Layout = null;
}

<div class="cell pl10 mt30" id="right_con">
    <div class="domebg">
        <table class="data_table" width="100%" border="1" cellpadding="0" cellspacing="0">
            <tr class="date_row_select">
                <td width="100%">
                    <span class="info_box info_select">关键字:</span>
                    <input type="text" id="venderkeyword" class="txt txt_middle" />
                </td>
            </tr>
            <tr class="date_row_select">
                <td colspan="4">
                    <div class="tl">
                        <input type="button" class="btn mr10" value="搜索" id="venderbtnSearch" />
                        <input type="button" class="btn mr10" value="清空" id="venderbtnCancel" />
                    </div>
                </td>
            </tr>
        </table>
        <div>
            <table class="data_table mt20" id="tb_NewvendesList" width="100%" border="0" cellpadding="0"
                cellspacing="0">
                <thead>
                    <tr class="data_row_two">
                        <th>服务商编号
                        </th>
                        <th>服务商名称
                        </th>
                    </tr>
                </thead>
                <tbody>
                   
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(function () {
        $("#tb_NewvendesList > tbody > tr ").live("dblclick", (function () {
            var tdOne = $($(this).children("td:nth-child(2)"));
            var text = $.trim(tdOne.text());
            var id = tdOne.find("input[name='NewVenderCode']").val();
            var venderIdid = tdOne.find("input[name='NewVenderId']").val();
            if ($("#_NewVenderName").length > 0) {
                $("#_NewVenderName").val(text);
            }
            if ($("#_NewVenderCode").length > 0) {
                $("#_NewVenderCode").val(id);
            }
            if ($("#_NewVenderId").length > 0) {
                $("#_NewVenderId").val(venderIdid);
            }
            if ($("#selectShippingMethod").length > 0 && $("#FilterOutShippingMethodList").attr("tabindex") == 100) {
                $("#ShippingMethodName").html("");
                $("#ShippingMethodId").val("");
                $("#selectShippingMethod").attr('disabled', false);
            }
            $("#showNewVenderList").window("close");
        }));


        $("#venderbtnSearch").live("click", function () {            
            initSearch();
        });
        $("#venderbtnCancel").live("click", function() {
            if ($("#_NewVenderName").length > 0) {
                $("#_NewVenderName").val("");
            }
            if ($("#_NewVenderCode").length > 0) {
                $("#_NewVenderCode").val("");
            }
            if ($("#_NewVenderId").length > 0) {
                $("#_NewVenderId").val("");
            }
            if ($("#selectShippingMethod").length > 0 && $("#FilterOutShippingMethodList").attr("tabindex") == 100) {
                $("#selectShippingMethod").attr('disabled', true);
                $("#ShippingMethodName").html("");
                $("#ShippingMethodId").val("");
            }
            if ($("#FilterOutShippingMethodName").length > 0) {
                $("#FilterOutShippingMethodName").html("");
            }
            if ($("#FilterOutShippingName").length > 0) {
                $("#FilterOutShippingName").val("");
            }
            if ($("#FilterOutShippingMethodId").length > 0) {
                $("#FilterOutShippingMethodId").val("");
            }
            $("#showNewVenderList").window("close");
        });
        $("#venderkeyword").bind("keydown", function (e) {
            if (e.keyCode == 13) {
                $("#venderbtnSearch").trigger("click");
                return false;
            }
        });

        //$("#venderbtnSearch").trigger("click"); //导致多次click事件 , 发起5~8个重复请求 . daniel 2014-7-11
        
    });

    initSearch();

    function initSearch()
    {
        var isAll = "false";
        if ($("#showVenderList").attr("tabindex") == 200) {
            isAll = "true";
        }

        $.ajax({
            url: '@Url.Action("GetSelectVender","WayBill")',
            type: 'GET',
            data: { keyWord: $("#venderkeyword").val(), IsAll: isAll },
            success: function (data) {
                $("#tb_NewvendesList > tbody").html("");
                var tr = "";
                for (var item in data) {
                    tr += "<tr class=\"data_row_dan\" style=\"cursor:pointer;\" title=\"双击可以选择一条信息\"><td>" + data[item].VenderCode + "</td><td>" + data[item].VenderName + "<input type='hidden' name='NewVenderCode' value=\"" + data[item].VenderCode + "\" /><input type='hidden' name='NewVenderId' value=\"" + data[item].VenderId + "\" /></td></tr>";
                }
                $("#tb_NewvendesList > tbody").append(tr);
            }
        });
    }

</script>
