<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MQS_DBEntities" connectionString="metadata=res://*/MQS_Data.csdl|res://*/MQS_Data.ssdl|res://*/MQS_Data.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=211.154.151.181;initial catalog=MQS_DB;persist security info=True;user id=dba;password=lightake;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILtQueue" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"/>
                <binding name="BasicHttpBinding_ILtTaskQueue" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:25058/LtQueue.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILtQueue" contract="LtQueueService.ILtQueue"
                name="BasicHttpBinding_ILtQueue" />
            <endpoint address="http://localhost:25058/LtTaskQueue.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILtTaskQueue" contract="LtTaskQueueService.ILtTaskQueue"
                name="BasicHttpBinding_ILtTaskQueue" />
        </client>
    </system.serviceModel>
</configuration>