<div class="main_5">
    	<div class="constr">
        	<div class="constr_in">
				<div class="l w383">
                    <div class="icon_3">
                    </div>
                </div>
                <div class="cell gf">
                	<div class="fix mt105">
                    	<div class="tt_box l fw">
                        	联系我们<br>
                            <span class="f14 lt0">Company News</span>
                        </div>
                        <div class="cell">
                        	<div class="rel mt50">
                                <div class="mb12">
                                	电话：400-700-0569 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
                                    0755-6666666
                                </div>
                                <div class="mb12">
                                	邮箱：service@lightake.com
                                </div>
                                <div class="mb12">
                                	地址：广东省深圳市龙岗区南坑村
									      第二工业区B3
                                </div>
                                <div class="icon_4">
                                </div>
                            </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="oneSolid bd90"></div>
    <div class="oneSolid bddd"></div>
