/* changeBox_a1 */
.changeBox_a1{
	margin:0 auto;
position:relative;
}


.changeDiv{
position:absolute;
top:2px;left:2px;
display:none;}

.changeDiv h3{
position:absolute;
left:0px;bottom:0;
width:650px;
height:30px;line-height:30px;
background:#fff;
filter:alpha(opacity=70);
opacity:0.7;}

.changeDiv h3 a{
display:block;
padding-left:15px; 
color:#FF6600;}


/* ul_change_a1 */
.ul_change_a1{
position:absolute;
right:1px; bottom:6px;
padding-left:19px;
overflow:hidden;}

.ul_change_a1 li{
float:left;
margin-right:7px; }
.ul_change_a1 img{ border:1px solid #ddd;}
.ul_change_a1 img.now{border:1px solid #FF6600;}
.a_last,.a_next{
position:absolute;
top:10px;
width:16px;height:16px;
background:url(../images/bot.png) no-repeat;
text-indent:-999em;overflow:hidden;}

.a_last{right:30px;background-position:0 0;}
.a_next{right:12px;background-position:100% 0;}



/* ul_change_a2 */
.ul_change_a2{
position:absolute;
right:5px; bottom:7px;
padding-left:19px;
overflow:hidden;
z-index:3;
 }
.ul_change_a2 li{
display: -moz-inline-stack;
display:inline-block;
*display:inline;
*zoom:1;}

.ul_change_a2 span{
display: -moz-inline-stack;
display:inline-block;
*display:inline;
*zoom:1;
font-size:0.8em;
padding:0px 3px; 
margin-right:2px;
border:1px solid #999;
background:#fff;
filter:alpha(opacity=85);
opacity:0.85;
cursor:hand;
cursor:pointer;
}

.ul_change_a2 span.on{
border:1px solid #CC0000;
background:#FFFF9D;
color:#CC0000;}


/* changeBox_b1 */

.changeBox_b1{
float:left;
position:relative;
width:645px;height:250px; 
padding-left:5px; }
.changeBox_b1 h3{
float:left;
position:relative;
width:80px;height:25px;line-height:25px;  
border:1px solid #ccc;
text-align:center;
margin-left:-1px;
z-index:0;
}

.changeBox_b1 h3.now{
background:#f3f3f3; 
border:1px solid #B70000;
border-bottom:none;
color:#B70000;
z-index:3;}

.changeBox_b1 h3 a{
color:#666;}
.changeBox_b1 h3 a:hover,
.changeBox_b1 h3.now a{
color:#B70000;}

.changeBox_b1 div{
position:absolute;
top:25px;left:4px;_left:3px;
width:500px;height:150px;
background:#f3f3f3; 
padding:15px; 
border:1px solid #B70000;
z-index:2;}
