<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Rabbits" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <Rabbits>
    <!--Value格式说明: ip|username|password|vhost-->
    <add key="bizlog" value="192.168.5.85|Bizlog|Bizlog|/Bizlog/"/>
    <add key="lms" value="192.168.5.85|LMS|LMS|/LMS/"/>
  </Rabbits>
  
  <appSettings>
    <!--QueueType 1:RabbitMQ , 2:WcfQueue -->
    <add key="QueueType" value="1"/>
    
  </appSettings>
</configuration>