<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Rabbits" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <Rabbits>
    <!--Value格式说明: ip|username|password|vhost-->
    <add key="bizlog" value="192.168.5.85|Bizlog|Bizlog|/Bizlog/"/>
    <add key="lms" value="192.168.5.85|lms|lms|/LMS/"/>
  </Rabbits>

  <appSettings>

    <!--QueueType 1:RabbitMQ , 2:WcfQueue -->
    <add key="QueueType" value="1"/>
    
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILtQueue" />
        <binding name="BasicHttpBinding_ILtTaskQueue" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!--Wcf Queue begin-->
      <endpoint address="http://localhost:9020/LtQueue.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ILtQueue" contract="API.Queue.ILtQueue"
        name="BasicHttpBinding_ILtQueue" />
      <endpoint address="http://localhost:9020/LtTaskQueue.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ILtTaskQueue" contract="API.Task.ILtTaskQueue"
        name="BasicHttpBinding_ILtTaskQueue" />
      <!--Wcf Queue end-->
    </client>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

</configuration>
