@{
    Html.AddScriptParts(Url.Content("~/Scripts/kindeditor/kindeditor-min.js"));
    Html.AddScriptParts(Url.Content("~/Scripts/kindeditor/lang/zh_CN.js"));
    Html.AddScriptParts(Url.Content("~/Scripts/util.js"));
}


@using (Html.BeginForm("AddNewCategory", "Website", FormMethod.Post, new { @id = "editform", enctype = "multipart/form-data" }))
{
    <div  id="right_con" >
        <ul>
            <li class="mt20"><span class="info_box info_middle">上级分类 : </span>
                <select id="ParentID" name="ParentID"  style="width: 300px;"></select>
            </li>
            <li class="mt20"><span class="info_box info_middle">分类名称 : </span>
                <input type="text" id="Name" name="Name" class="txt txt_long" maxlength="50" />
            </li>
            <li class="mt20"><span class="info_box info_middle">英文分类名称 : </span>
                <input type="text" id="EnglishName" name="EnglishName" class="txt txt_long" maxlength="50" />
            </li>
             <li class="mt20"><span class="info_box info_middle">SEO标题 : </span>
               <input type="text" id="SEOTitle" name="SeoTitle" class="txt txt_long" maxlength="300" />
            </li>
            <li class="mt20"><span class="info_box info_middle">SEO关键字 : </span>
                <input type="text" id="SEOKeywords" name="SeoKeywords" class="txt txt_long" maxlength="300" />
            </li>
            <li class="mt20"><span class="info_box info_middle">SEO描述 : </span>
                <input type="text" id="SEODescription" name="SeoDescription" class="txt txt_long" maxlength="300" />
            </li>
            <li class="mt20"><span class="info_box info_middle">上传图片:</span>
                <input type="file" id="flUploadAddress" onchange="SelectImg(this); " name="flUploadAddress" title="请选择图片" value="Select file" />
                <input type="hidden" id="Pic" name="Pic"/>
                @*<input type="hidden" id="ParentID" name="ParentID"/>*@
                <br/>
                <img id="imgUrl" style="width: 32px; height: 32px; margin-left: 130px; display: none" />
            </li>
            <li class="mt20"><span class="info_box info_middle" style="float: left;">分类描述 : </span>
                <textarea class="area vt" id="Description" name="Description" cols="45" rows="6"  style="width: 700px;"></textarea>
            </li>
            <li class="mt20"><span class="info_box info_middle"></span>
            <input type="button" class="btn" value="保存" id="btnsave" name="btnsave" onclick="return Save();" />
        </ul>
    </div>
}
<script type="text/javascript">
    
    var editor;
    $(function() {
        KindEditor.ready(function(K) {
            editor = K.create('#Description', {
                allowFileManager: true,
                uploadJson: "/KindEditor/Upload",
                filePostName: "imgFile",
                filterMode: false //不会过滤HTML代码
            });
        });
    });
    
    //图片预览
    function SelectImg(input) {

        try {
  
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgUrl')
                        .attr('src', e.target.result)
                        .width(60)
                        .height(60).show();
                    $("#Pic").val();

                };
                reader.readAsDataURL(input.files[0]);
            }
            
        } catch(e) {

        } 
       
       
    };


    $(function() {
        $('#ParentID').combotree({
            url: 'GetAllCategorySelect',
            onLoadSuccess: function (data) {
                $('#ParentID').combotree('setValue', '0');
            }
        });
    });
    function Save() {

        try {
            
            editor.sync();

            var nameobj = $("#Name");
            if ($.trim(nameobj.val()) == "") {
                alert("分类名称不能为空！");
                nameobj.focus();
                return false;
            }

            //$("#ParentID").val($('#ParentID').combotree('getValue'));
            $('#btnsave').removeAttr("disabled");

            var postdata = new FormData();
            var filesList = document.getElementById('flUploadAddress');
            for (var i = 0; i < filesList.files.length; i++) {
                postdata.append('file', filesList.files[i]);
            }

            try {
                var formdata = $("#editform").serialize();
                var datalst = formdata.split("&");
                var count = datalst.length;
                for (i = 0; i < count; i++) {
                    var dd = datalst[i].split("=");
                    postdata.append(HttpUtility.urlDecode((dd[0])), HttpUtility.urlDecode(dd[1]));
                }
            } catch(e) {

            } 
            
            $.ajax({
                contentType: false,
                processData: false,
                type: "POST",
                url: "AddNewCategory",
                dataType: "json",
                data: postdata,
                success: function (data) {
                    if (data == "1") {
                        alert("保存成功！");
                        parent.window.location.reload();
                    } else {
                        alert("保存失败！");
                    }
                },
                error: function (data) {
                    alert("保存失败！");
                },
                complete: function (data) {
                    $("#btnsave").attr('disabled', false);
                }
            });
            
  
        } catch(e) {

        } 
        return false;
    }
</script>