<div class="main_6">
    	<div class="constr">
        	<div class="constr_in">
            	<div class="tc pt50">
                	<img src="images/default_25.jpg" usemap ="#rectmap" />
                </div>
            </div>
        </div>
    </div>
    <div class="oneSolid bddd"></div>
    <div class="oneSolid bd94"></div>
