<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SfexpressServiceImplServiceSoapBinding" />
                <binding name="CommonServiceServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://120.24.60.8:8003/CBTA/ws/sfexpressService"
                binding="basicHttpBinding" bindingConfiguration="SfexpressServiceImplServiceSoapBinding"
                contract="References.Sfexpress.SfexpressService" name="SfexpressServiceImplPort" />
            <endpoint address="http://219.134.187.131:6080/bsp-oisp/ws/expressService"
                binding="basicHttpBinding" bindingConfiguration="CommonServiceServiceSoapBinding"
                contract="References.SfCommon.IService" name="CommonServicePort" />
        </client>
    </system.serviceModel>
</configuration>