@charset "utf-8";
/***首页banner***/
#slide{
				width:100%;
				height:360px;
				overflow:hidden;
				position:relative;
			}
			#slide .slide-box{
				width:100%;
				height:100%;
				position:relative;
			}
			#slide .slide-box li{
				background-position:50% 0px;
				background-repeat:no-repeat;
				width:100%;
				height:100%;
				overflow:hidden;
				position:absolute;
				left:0px;
				top:0px;
				opacity:0;
				filter:alpha(opacity=0);
			}
			
			#slide .slide-box li div{
				width:755px;
				height:384px;
				position:relative;
				margin:0px auto;
			}
			#slide .slide-box li b{
				width:760px;
				height:210px;
				display:block;
				position:absolute;
				left:0px;
				top:-10px;
				background-position:20px 0px;
				background-repeat:no-repeat;
				z-index:1;
			}
			#slide .slide-box li a{
				width:755px;
				height:420px;
				background:url(images/spaceball.gif);
				display:block;
				position:absolute;
				left:0px;
				top:0px;
				z-index:2;
			}
			#slide .slide-nav{
				width:980px;
				height:30px;
				position:absolute;
				bottom:0px;
				left:50%;
				margin-left:-500px;
				z-index:3;
			}
			#slide .slide-nav .slide-nav-box{
				float:right;
				height:30px;
				line-height:30px;
				
			}
			#slide .slide-nav .slide-nav-box a{
				display:inline-block;
				width:14px;
				height:14px;
				width:25px; height:5px; overflow:hidden;
				vertical-align:middle;
				background:#e2e7e7;
				margin:0px 3px;
				box-shadow:0 1px 2px #666666;
			}
			#slide .slide-nav .slide-nav-box a.active{
				background:#28979e;
			}








.solide_body img {
	vertical-align: bottom;
}
.solide_ad_slide {
	width: 100%; height: 58px;
	position: relative;
} 
.solide_ad_img {
	position: absolute; left: 0; top: 0;
	width: 100%; height: 100%;
	display: none;
}
.solide_ad_btn {
	text-align:center;	
}
.solide_ad_btn_a {
	display: inline-block;
	width: 25px;
	height: 5px;
	vertical-align: middle;
	background:#666;
	margin: 0px 5px;
	overflow:hidden;

}
.solide_ad_btn .active {
	background: #198484;
}

/***首要主要内容index Comprehensive***/
/*.inxC_con,.IinxC_con{height:230px; width:24%; background-color:#fff; background-repeat:no-repeat; background-position:right}
.inxC_con{background-image:url(../images/bd_icon.jpg); width:38%;}*/
/*.idxC_abs{position:absolute; right:-30px; top:-10px;}
.idxC_box{border:1px solid #eaeaea; background:#fff; box-shadow: 0 0 3px #f8f8f8; line-height:20px; height:130px; border-radius:5px; margin-bottom:15px; position:relative;}
.hover .idxC_box{ display:block;}*/
/***首页包裹计算**idx page   idp*/
.idp_line{border-top:1px solid #fff; margin-top:15px; margin-left:-10px; margin-right:-10px; position:relative;}
.size_short{ width:170px;}
.size_mini{ width:147px;}
.size_mini-{ width:46px;}
.home_txt{ height:26px; padding-bottom:0; outline-style:none; padding-top:0; border:1px solid #dcdcda; line-height:26px; background-color:#fff; vertical-align:middle; padding-left:5px; }
.home_math_box{ margin-top:-320px; position:absolute; width:320px;} 
.home_math_in{ background:#fff; padding:15px;}
.home_math_box_l{ width:100%; height:100%; }
.home_math_box_l input{ color:#666;}
.home_math_box_l .false{border-color: #ff9e92; box-shadow: 0 0 2px #ff9e92; color:red}
.home_math_box_l .btn_y { color:#f8f8f8; text-shadow: 1px 1px #666;}
.home_math_navOff,.home_math_navOn{ line-height:40px; width:100%; border-top:2px solid #269898; height:40px;  cursor:pointer; color:#FFF; display:block; background:#269898; font-weight:bold;}
.home_math_navOn{ background-color:#1e797a; border-color:#fdb029} 
.home_sel_company{background-color:#FFF; position:absolute;  top:28px; left:0; min_height:100px; width:100%; line-height:28px; display:none; box-shadow: 0 0 2px #000 inset; }
.country_box{position:absolute; left:310px; top:-278px;width:546px; background-color:#FFF; box-shadow: 0 0 5px #999; display:none;}
.country_move{background-color:#efefef; line-height:30px; }
.country_num{ width:21px; text-align:center; color:#000; background-color:#fff; line-height:24px; float:left; font-weight:bold; font-family:"微软雅黑"; border-bottom:2px solid #fff;}
.country_num:hover{ text-decoration:none;  border-bottom:2px solid #33949a }
.h250{ height:250px;}
.ww50{ width:49.5%;}
.ova{overflow: auto;}
.order_sch_area{padding:5px; width:280px; height:149px; border:1px solid #e1e1e0; color:#666; outline-style:none;  box-shadow:0 0 7px #e1e1e0 inset;overflow:auto;}
.diamonds_tip,.diamonds_tipMn{width:0px; height:0px; display:inline-block; overflow:hidden; vertical-align:middle;   border-width:3px 3px; border-style:solid; border-color:#666666 ;}
.diamonds_tipMn{ border-width:2px 2px; order-color:#666666 ; border-color:#28979e; margin-right:5px;}

/***合作伙伴 partner***/
.par_google,.par_partne,.par_paypal,.par_ems,.par_ebaby,.par_dhl,.par_other{ position:absolute;}
.par_google{ left:320px; top:24px;}
.par_partne{ left:50%; top:50%; margin-left:-72px; margin-top:-76px;}
.par_paypal{ left:157px; top:113px;}
.par_ems{ right:273px; top:173px;}
.par_ebaby{ right:300px; top:40px;}
.par_dhl{ right:200px; top:80px;}
.par_other{ left:360px; top:200px;}
/***新闻中心 cn***/
.cn_box{ margin-bottom:20px; } 
.cn_area{ min-height:600px; _height:600px; margin-top:-40px;}
.hover h3{ color:#53929a}
.cn_control{position:relative; border-bottom:1px solid #eaeaea;  cursor:pointer; background:#f8f8f8; }
.cn_pd{padding:20px 20px 20px 25px; position:relative;}
.cn_Warp{ border-bottom:1px solid #eaeaea; margin-top:-1px; display:none; background:#f8f8f8;}
.cn_circle{position:absolute; left:-6px; top:50px; zoom:1}
.cn_-circle{position:absolute; left:-10px; top:58px; zoom:1}
.cn_--circle{position:absolute; left:-14px; top:-10px; zoom:1}
.cn_Warp p{ line-height:180%; margin-bottom:15px;}
.cn_box img {margin: 20px 0;display: block;}
.cn_trigon{ position:absolute; height:0; width:0; border-color:transparent transparent #f8f8f8 transparent; border-width:15px; border-style:solid; top:-28px; left:20px;}
/***博客 blog  bg***/
.bg_Warp{position:relative; border-bottom:1px solid #eaeaea; margin-top:-1px; display:none; padding-top:50px;}
.bg_word,.bg_word-{padding-left:50px; background:url(../images/quan_1.png) no-repeat 2px; height:28px; margin-left:-12px; position:relative; line-height:28px; font-size:14px; font-weight:bold; font-family:Tahoma, Geneva, sans-serif}
.bg_word{background:url(../images/quan_1.png) no-repeat 2px;}
.bg_word-{background:url(../images/quan_3.png) no-repeat 2px;}
.bg_control{position:relative; border-bottom:1px solid #eaeaea;  cursor:pointer; background:#fff; padding:50px 0 20px 0;}
.bg_pd{padding:10px 50px 0px 60px; font-size:14px;}
.part h3{ margin-bottom:20px;}
.bg_control .part p{ text-indent:30px;}
.bg_control .part{ margin-bottom:0;}
.part ol p{ text-indent:25px;}
.bg_box  img{ margin-bottom:20px; display:block;}
.bg_box{border-left:1px solid #dcdcdc; margin-left:30px; padding-bottom:50px}
/***pack 包裹***/
.pack_area{ min-height:600px; _height:600px;}
.pack_in{ padding:0 30px 30px 30px;}
.pack_in h3{ font-size:20px; font-family:"微软雅黑"; font-weight:normal; margin-bottom:10px;}
.pack_in h2{ font-size:30px; color:#198484; font-family:"微软雅黑"; font-weight:normal; margin-bottom:20px; text-align:center;}
.part p{line-height:200%; margin-bottom:15px; }
.pack_in ol{ line-height:200%;}
.pack_in img{ display:block; max-width:90%; margin:20px 0;}
.pack_in table{ width:100%; border-collapse:collapse;}
.pack_in td, .pack_in th{ border:1px solid #dbdbdb; padding:10px;}
.pack_in .double td{ background-color:#f2f2f2;}
.pack_in .tb_select td{ background-color:#add9d5}
.pack_in th{ background:#444; color:#fff}
.part{ margin-bottom:30px; text-align:justify; letter-spacing:1px;}

/***注册***/
.res_w,.res_w_on{ line-height:42px; display:block; text-align:center; border-bottom:3px solid #666666; font-size:16px; font-weight:bold; border-left:2px solid #dddddd; margin-left:-1px;}
.res_w_on{ border-bottom-color:#198484; position:relative;}
.res_w:hover,.res_w_on:hover{ color:#198484}
.res_pd .false{ border-color:#ff9e92;  box-shadow:0 0 2px #ff9e92}
.res_pd{padding:55px 40px 40px 200px; }
/***CSS雪碧***/
.u{ background:url(../images/menu_in.png) no-repeat; display:inline-block;  vertical-align:middle;}
.u11{ background-position:0 0; width:10px; height:10px;}
.u21{ background-position:-16px 0; width:10px; height:10px;}
.u12{ background-position:0 -14px; width:22px; height:17px;}
.u14{ background-position:0 -72px; width:42px; height:42px;}
.u15{ background-position:0 -117px; width:126px; height:38px;}
.u16{ background-position:0 -157px; width:14px; height:14px;}
.u26{ background-position:-16px -157px; width:14px; height:14px;}
.u17{ background-position:0 -173px; width:12px; height:12px;}
.u18{ background-position:0 -192px; width:126px; height:38px; cursor:default;}
.u32{ background-position:-25px -35px; width:22px; height:23px;}
.u24{ background-position:-45px -72px; width:55px; height:39px;}


.u2{ background:url(../images/share.png) no-repeat; display:inline-block; vertical-align:middle; width:24px; height:24px;}
.u211{ background-position:0 0;}
.u212{ background-position:0 -24px;}
.u213{ background-position:0 -48px;}
.u214{ background-position:0 -81px; width:29px; height:29px;}
.u224{ background-position:-29px -81px; width:29px; height:29px;}

.u211:hover{ background-position:-24px 0;}
.u212:hover{ background-position:-24px -24px;}
.u213:hover{ background-position:-24px -48px;}



/***订单查询页面***/
.from_box{
	border:1px solid #dddddd;
	background-color:#F9F9F9;
	}
/*.home_sel_company{background-color:#FFF; position:absolute;  top:22px; left:0; min_height:100px; width:100%; line-height:26px; display:none; _width:138px; *top:32px;}*/
.ww32 {
	width: 32%;
}
.from_horizontal {
	padding: 9px 5px;
	border-bottom: 1px solid #EEEEEE;
	background-color: #f9f9f9;
	border-top: 1px solid #FFFFFF;
}
/***时间节点Tnode***/
.Tnode_box{ padding:20px 0 40px 0; line-height:20px;}
.Tnode_box_end{ padding-top:20px;}
.Tnode_dot{width:10px; position:absolute; height:3px; top:7px; z-index:3; left:0px;  background:#999; overflow:hidden;}
.Tnode_v_line{position:absolute; height:8px; width:2px; overflow:hidden; background:#fff; z-index:2; left:0px; top:0;}
.Tnode_vertical{height:100%; width:2px; overflow:hidden; zoom:1;  background:#e8e8e8; position:absolute; left:0; top:0;}
.Tnode_new,.Tnode_moth{line-height:22px; border:2px solid #fdb029; padding:0 0.5em; position:absolute; left:-32px; top:-22px; background:#fff;}
.Tnode_moth{ border-color:#666;}
.Tnode_box_end .Tnode_star{ border-left:2px solid #fff;}
.Tnode_box_end .Tnode_star .Tnode_dot{ left:-1px;}
.Tnode_star{padding-left:28px; z-index:2;}
.Tnode_star .Tnode_dot{left:0px;}
.Tnode_star .Tnode_v_line{ left:-2px; background:#e8e8e8;}
/***注册成功***/
.min_minBox {
min-height: 600px;
_height: 500px;
}
.out_order{border-collapse:collapse; box-shadow: 0 0 1px #999}
.out_order tr td,.out_order tr th{ padding:15px 5px; border-right:1px solid #d1d1d1; text-align:center; }
.out_order tr th{ color:#FFF; text-align:center; background-color:#dcdcdc; color:#444; font-family:"微软雅黑"; }
.table_single{ background-color:#fff;}
.table_even{ background-color:#f5f5f5;}
.pr50{ padding-right:50px;}
.code{ color:#de5656}
.co009{ color:#53929a}
.f20{ font-size:20px;}
.bgf6{ background:#f6f6f6;}
.bgf{ background:#FFF;}
.mt40{ margin-top:40px;}
.lh26{ line-height:26px;}
.ww40 {width: 40%;}
.ww60 {width: 60%;}
.c82020{ color:#c82020}
.ml220{ margin-left:222px}
.f44{ font-size:44px;}
.w300{ width:300px;}
.mt35{ margin-top:35px;}
.coff4{ color:#ff401e}
.ti25{ text-indent:25px;}
.ml100{ margin-left:100px;}
.h80{ height:80px;}
.pt50{ padding-top:50px;}
.bgeb{ background-color:#ebebeb}
.zx5{ z-index:5;}
.ww44{ width:44%;}
.f36{ font-size:36PX;}
.coffe{ color:#ffe400}
.mt-2{ margin-top:-2px;}
.w120{ width:120px;}
.lh32{ line-height:32px;}
.pl45 {
padding-left: 45px;
}
.pt35 {
padding-top: 35px;
}
.mb40 {
margin-bottom: 40px;
}
.pt80 {
padding-top: 80px;
}
.pl170 {
padding-left: 170px;
}
.foot_b{background:#198484; line-height:45px; text-align:center; color:#fff}