<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITrackNumberAssign" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:16103/TrackNumberAssign.svc/Wcf"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITrackNumberAssign"
                contract="RefAPI.TrackNumber.ITrackNumberAssign" name="BasicHttpBinding_ITrackNumberAssign" />
        </client>
    </system.serviceModel>
</configuration>