<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="LMS_DbContext" connectionString="metadata=res://*/LMS_DBContext.csdl|res://*/LMS_DBContext.ssdl|res://*/LMS_DBContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=211.154.151.181;initial catalog=LMS_DB;persist security info=True;user id=dba;password=lightake;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--LISAPI路径-->
    <add key="LIS_API_Path" value="http://test.tinydx.com:901/LIS.API.V3/" />
  </appSettings>
</configuration>