@{
    Layout = null;
}
<div class="cell pl10 mt30" id="right_con">
    <div class="domebg">
        <table class="data_table" width="100%" border="1" cellpadding="0" cellspacing="0">
            <tr class="date_row_select">
                <td width="100%">
                    <span class="info_box info_select">关键字:</span>
                    <input type="text" id="countrykeyword" class="txt txt_middle" />
                </td>
            </tr>
            <tr class="date_row_select">
                <td colspan="4">
                    <div class="tl">
                        <input type="button" class="btn btn_blue" value="搜索" id="countrybtnSearch" />
                        <input type="button" class="btn btn_red" value="清空" id="countrybtnCancel" />
                    </div>
                </td>
            </tr>
        </table>
        <div>
            <table class="data_table mt20" id="tb_countryList" width="100%" border="0" cellpadding="0"
                cellspacing="0">
                <thead>
                    <tr class="data_row_head">
                        <th>国家代码
                        </th>
                        <th>国家名称
                        </th>
                    </tr>
                </thead>
                <tbody>
                   
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#tb_countryList > tbody > tr ").live("dblclick", (function () {
            var tdOne = $($(this).children("td:nth-child(2)"));
            var text = $.trim(tdOne.text());
            var id = tdOne.find("input[name='CountryCode']").val();
            if ($("#_CountryName").length > 0) {
                $("#_CountryName").val(text);
            }
            if ($("#_CountryCode").length > 0) {
                $("#_CountryCode").val(id);
            }
            $("#showCountryList").window("close");
        }));
        $("#countrybtnSearch").live("click", function () {

            $.ajax({
                url: '@Url.Action("GetSelectCountry","Billing")',
                type: 'GET',
                data: { keyWord: $("#countrykeyword").val(), IsAll: "false" },
                success: function (data) {
                    $("#tb_countryList > tbody").html("");
                    var tr = "";
                    for (var item in data) {
                        tr += "<tr class=\"data_row_dan\" style=\"cursor:pointer;\" title=\"双击可以选择一条信息\"><td>" + data[item].CountryCode + "</td><td>" + data[item].Name + "<input type='hidden' name='CountryCode' value=\"" + data[item].CountryCode + "\" /></td></tr>";
                    }
                    $("#tb_countryList > tbody").append(tr);
                }
            });
        });
        $("#countrybtnCancel").live("click", function () {
            if ($("#_CountryName").length > 0) {
                $("#_CountryName").val("");
            }
            if ($("#_CountryCode").length > 0) {
                $("#_CountryCode").val("");
            }
            $("#showCountryList").window("close");
        });
        $("#countrykeyword").bind("keydown", function (e) {
            if (e.keyCode == 13) {
                $("#countrybtnSearch").trigger("click");
                return false;
            }
        });
    });
    $("#countrybtnSearch").trigger("click");
</script>

