@{
    Layout = null;
    ViewBag.Title = "PrintPreview";
}
@using System.Text
@using RazorEngine
@model LMS.UserCenter.Controllers.OrderController.Models.PrinterViewModel

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script type="text/javascript" src="@Url.Content("~/js/jquery-1.7.1.min.js")"></script>
        <title>订单打印预览</title>
    </head>
    <body style="margin: 0; font-family: Arial, Helvetica, sans-serif; line-height: 1.2;">
        <div id="print" >
                 @Html.Partial("_PrintList",Model)
        </div>
    </body>
<script type="text/javascript" src="@Url.Content("~/js/print.js")"></script>
</html>